
/* Setup Styles  */

body {
	font-family:'Open Sans',sans-serif;
}

a, a:visited{
	color:#d54872;

}
a:hover,a:active{
	color:#a43053;
	text-decoration: none;
}


h1,h2,h3,h4,h5,h6 {
	font-weight:300;
}

h1 {
	font-weight:300;
	font-size:50px;
	text-align:center;
	line-height:55px;
	text-shadow:0 1px 1px rgba(0,0,0,0.6);
	margin-bottom:30px;
}

strong {
	font-size: 20px;
}
/* Sites  */

.main{
	background: linear-gradient(rgba(166, 123, 91, 0.6), rgba(166, 123, 91, 0.3)), url(../img/bg1.jpg);
}
.espresso{
	background: linear-gradient(rgba(166, 123, 91, 0.7), rgba(166, 123, 91, 0.3)), url(../img/2.jpg);
}
.obuch{
	background: linear-gradient(rgba(166, 123, 91, 0.7), rgba(166, 123, 91, 0.3)), url(../img/2.jpg);
}
.arenda{
	background: linear-gradient(rgba(166, 123, 91, 0.7), rgba(166, 123, 91, 0.3)), url(../img/2.jpg);
}
.prof_ob{
	background: linear-gradient(rgba(166, 123, 91, 0.7), rgba(166, 123, 91, 0.3)), url(../img/2.jpg);
}
.cofe_in{
	background: linear-gradient(rgba(166, 123, 91, 0.7), rgba(166, 123, 91, 0.3)), url(../img/2.jpg);
}
.horeca{
	background: linear-gradient(rgba(166, 123, 91, 0.7), rgba(166, 123, 91, 0.3)), url(../img/2.jpg);
}
/* END Sites */

/* other */
.fix_bg{
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family:'Open Sans',sans-serif;
}

.span12 {
    margin-left: -20px!important;
}

.dark {
	color:#fff;
}
.light{
	color: #000;
	background: #fff;
}

.center {
	float:none;
	margin:0 auto;
}
.t_centr{
	text-align:center;
}
.bold{
	font-weight:700;
}


.modal.fade {
    top: -120%;
}

.thumbnail {
	text-align:center;
	border:0;
	box-shadow:none;
	-moz-box-shadow:none;
	-o-box-shadow:none;
	-webkit-box-shadow:none;
}
/* End other */

/* Main Container Styles  */

.main-container {
	position:relative;
}

.main-container .container {
	padding:30px;
}

/* Intro sits  */
#intro {
	margin-top:100px;
	text-align:center;
	min-height:400px;
	padding:0 0 50px;
}
#in_main{
	margin-top:200px;
	margin-bottom: 100px;
}

#intro h1, #in_main h1 {
	color:#fff;

}
#in_main h1 {
	font-weight:700;
}

#intro p {
	padding:15px 0;
	color:#fff;
}
/* BLOCK sits  */

#prods,#about,#dost {
	background:#fff;
}
#about h1 {
	color: black;
}

#aboutus {
	background:#000;
	background:rgba(0,0,0,0.8);
}
#contact,#footer {
	background:#202020;
}
#footer{
	border-top: 1px solid #d54872;
}
#nav_logo{

	position: absolute;
	margin-top: -5px;

}

.mash_list li{
	font-size:20px;
	padding: 5px;
}

/* social  */

.social a {
    margin-right: 10px;
    font-size: 30px;
    float: left;
    border: none;
}
/* Espresso blend  */

.coffe_block .coffe_b{
	z-index: -3;
}
.coffe_block:hover .coffe_b{
	z-index: 33;
}
.coffe_block{
	margin-left: 20px!important;
	position: relative;
	margin-top: 20px;
}
.coffe_img{
	width: 100%;
}
.coffe_centr{
	background: #000;
	color: #fff;
	font-size: 20px;
	font-weight:700;
	margin: 0 auto;
	padding: 10px 0px 10px;
	width: 100%;
	align-content: center;
	z-index: 3;
	display: block;
	position:absolute;
	bottom:0px;
}
/* END Espresso blend  */
/* MAIN PRODs  */
.bbox{
	margin:11px;
	margin-bottom: 25px!important;
}
.box.feature {
    padding: 0;
}
section > :last-child, article > :last-child, section:last-child, article:last-child {
    margin-bottom: 0;
}
.box {
    border-radius: 6px;
	transition:all ;
    padding: 4em;




}
header img {
	filter: grayscale(0)!important;
}
.box:hover > .image {
    filter: grayscale(0);
}
.box:hover{
	box-shadow: 3px -2px 20px 4px rgba(19, 19, 19, 0.32);
}
.box.feature .image {
    position: relative;
    margin: 0;

}
.box header {
	display: block;
   width: 100%;
	height: 60px;
	background-color: #000;
}
.inner img {
	margin-top: 5px;
	margin-left: 15px;
}
.inner p {
	margin-top: 5px;
	margin-left: 15px;
}
.image.featured {
    display: block;
    width: 100%;
    margin: 0 0 2.5em 0;
}
.image {
	transition:all .1s cubic-bezier(1, 1.49, 1, 1.31);
	filter: grayscale(1);
    display: inline-block;
    outline: 0;
}

.image img {
    display: block;
    width: 100%;

}

box.feature .inner {
    padding: 10px;
}
section > :last-child, article > :last-child, section:last-child, article:last-child {
    margin-bottom: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
.box.feature p {
    margin: 0;
	padding: 5px;
}






/* END MAIN PRODs  */
/* arab  */
.cbp-rfgrid {
    margin: 35px 0 0 0;
    padding-left: 70px;
    padding-right: 70px;
    list-style: none;
    position: relative;
    width: 100%;
}
.cbp-rfgrid li {
    position: relative;
    float: left;
    overflow: hidden;
    width: 16.6666667%;
    width: -webkit-calc(100% / 4);
    width: calc(100% / 4);
}


/* END arab  */
/* PHONE  */
#panel_phone{
	z-index: 21;
	display: block;
	position: fixed;
	background: #d54872;
	border-radius: 0px  0px 0px 10px;
	top: 150px;
	right: -274px;
	transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}
#panel_phone:hover{
		right: 0px;


}
#panel_phone .ico_phone{
	background: #d54872;
	border-radius: 10px  0px 0px 10px;
	margin-left: -26px;
	color:#000;
	font-size: 40px;
	padding: 5px;
}
.panel_hide{
	margin-top: -30px;
	padding: 10px;

}
.panel_hide a,.panel_hide .social{
	color: bisque;
	padding: 5px;
}
.panel_hide .social:hover{
	color:burlywood;
}
/*END PHONE  */
/*BUTTON  */
.bbt{
	background: #ce1e52 linear-gradient(rgb(206, 70, 110), rgb(174, 5, 56));
	border-bottom: 5px solid #da1751;
}
.bbt:hover{
	background: #ce1e52 linear-gradient(rgb(174, 5, 56), rgb(206, 70, 110));
	border-bottom: 2px solid #da1751;
}
.bbt a{
	display: block;
	color: #fff;
	text-align: center;
	padding: 10px;
}
/*END BUTTON  */

/* Navbar Styles  */

.navbar-fixed-top {
	margin-bottom:0;
	border-top: 4px solid #d54872;
	position: fixed;
}

.navbar-fixed-top.scroll {
	opacity:.96;
}

.navbar-inner {
	border-bottom:0 none;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.5);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,0.5);
	box-shadow:0 1px 2px rgba(0,0,0,0.5);
	filter:none;

	background:#0d0d0d;
	background:rgba(13,13,13,0.9);
}

.navbar .brand {
}

.navbar .nav.pull-right {

}

.navbar-inner-top{
	background: rgba(13,13,13,0.0);
}

.navbar .nav > li > a {

	color:#fff;
	padding:20px 5px!important;
	font-size:18px;
	text-shadow:none;
	-webkit-transition:all .1s linear;
	-moz-transition:all .1s linear;
	-ms-transition:all .1s linear;
	-o-transition:all .1s linear;
	transition:all .1s linear;
}

.navbar .nav li a:hover,.navbar .nav li a:focus{
	color: #DD6C8D;
}


.navbar .nav > li.active > a,.navbar .nav > li.active:hover > a,.navbar .nav > .active > a,.navbar .nav > .active > a:hover,.navbar .nav > .active > a:focus {
	padding-bottom:4px;
	-webkit-box-shadow:none;
	box-shadow:none;
	-moz-box-shadow:none;
	background:none;
	color:#fff;
}

.btn-dropnav {
	float:right;
	margin-left:5px;
	margin-right:5px;
	padding:7px 10px;
	display:none;
}

.btn-dropnav .icon-bar {
	background-color:#F5F5F5;
	-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.25);
	-moz-box-shadow:0 1px 0 rgba(0,0,0,0.25);
	box-shadow:0 1px 0 rgba(0,0,0,0.25);
	display:block;
	height:2px;
	width:18px;
}

.btn-dropnav .icon-bar + .icon-bar {
	margin-top:3px;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,.navbar .nav li.dropdown.active > .dropdown-toggle,.navbar .nav li.dropdown.open.active > .dropdown-toggle {
	background:none;
	color:#fff;
}

.dropdown-menu li > a:hover,.dropdown-menu li > a:focus,.dropdown-submenu:hover > a {
	background-color:#8d2040!important;
	text-decoration:none;
	color:#fff;

	background-image:-khtml-gradient(linear,left top,left bottom,from(#d54872),to(#8d2040));
	background-image:-moz-linear-gradient(top,#d54872,#8d2040);
	background-image:-ms-linear-gradient(top,#d54872,#8d2040);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#d54872),color-stop(100%,#8d2040));
	background-image:-webkit-linear-gradient(top,#d54872,#8d2040);
	background-image:-o-linear-gradient(top,#d54872,#8d2040);
	background-image:linear-gradient(#d54872,#8d2040);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#475B77',endColorstr='#475B77',GradientType=0);
}

.navbar .btn-navbar .icon-bar {
	display:block;
	width:18px;
	height:2px;
	background-color:#d54872;
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

.navbar .btn-navbar {
	margin-right: 30px;
}




@media (max-width: 979px) {

	.nav-collapse .nav > li > a:hover,.nav-collapse .dropdown-menu a:hover {
		background:none!important;
	}

	.nav-collapse .nav > li > a,.nav-collapse .dropdown-menu a {
		color:#ccc;
	}

	.navbar .brand {
		padding:8px 0 0 40px;
		font-size: 18px;
	}
	.pull-right a{

		font-size: 12px;
	}


	#intro {
	margin-top:45px;
	}

	input.span4, textarea.span4, .uneditable-input.span4 {
    width: 214px;
	}

	#esspreso{
	margin-top:100px;
	margin-bottom: 0px;
	}
	.mash_list li{font-size:15px;}
}

@media (max-width: 1024px) {
input.span4, textarea.span4, .uneditable-input.span4 {
    width: 100%;
}
	#nav_logo {
	margin-left:-20px;
	margin-top: -9px;
    height: 40px;
}
	.mash_list li{
	font-size:17px;
	padding: 0px;
}
}
@media (max-width: 480px) {
.mash_list li{
	font-size:14px;

}


}

.btn-purple {
	background-color:hsl(342,63%,34%)!important;
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#d54872",endColorstr="#8d2040");
	background-image:-khtml-gradient(linear,left top,left bottom,from(#d54872),to(#8d2040));
	background-image:-moz-linear-gradient(top,#d54872,#8d2040);
	background-image:-ms-linear-gradient(top,#d54872,#8d2040);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#d54872),color-stop(100%,#8d2040));
	background-image:-webkit-linear-gradient(top,#d54872,#8d2040);
	background-image:-o-linear-gradient(top,#d54872,#8d2040);
	background-image:linear-gradient(#d54872,#8d2040);
	border-color:#8d2040 #8d2040 hsl(342,63%,28.5%);
	color:#fff!important;
	text-shadow:0 -1px 0 rgba(0,0,0,0.36);
	-webkit-font-smoothing:antialiased;
}

.btn-xlarge {
	padding:20px 40px;
	font-size:25px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

/*	 Social Icon Styles */


/*	Color Styles */
